<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		
		.menu-desktop .main-menu li a{
			font-size:larger;
		}
	</style>
	<title>Product</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/Bootstrap/imagesNew/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/fontsNew/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/fontsNew/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/fontsNew/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/Bootstrap/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/Bootstrap/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Bootstrap/cssNew/util.css">
	<link rel="stylesheet" type="text/css" href="/Bootstrap/cssNew/main.css">
<!--===============================================================================================-->
</head>
<body class="">
	
	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar" >
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar" style="visibility:hidden">
						Free shipping for standard order over $100
					</div>

					
					<div class="right-top-bar flex-w h-full" >
              <a href="#" class="flex-c-m trans-04 p-lr-25" style="visibility:hidden">
                Help & FAQs
              </a>
             

                <a href="#" class="flex-c-m trans-04 p-lr-25">{{#if admin}}
                    {{admin}}
                  {{else}}
                    Account
                  {{/if}}
                </a>
              {{#if admin}}
                  <i class="ti-power-off"></i><a href="/admin/logout" class="flex-c-m trans-04 p-lr-25">LogOut</a>
                {{else}}
                  <i class="ti-power-off"></i><a href="/admin/login" class="flex-c-m trans-04 p-lr-25">Login</a>
                {{/if}}
            </div>
				</div>
			</div>

			<div class="wrap-menu-desktop how-shadow1">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="/admin/dashBoard" class="logo">
						<img src="/Bootstrap/images/logo.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/admin/users">Users</a>
								
								
							</li>

							<li class="active-menu">
								<a href="/admin/categories">Categories</a>
							</li>

							<li>
								<a href="/admin/products">Products</a>
							</li>

							<li>
								<a href="/admin/viewCoupon">Coupons</a>
							</li>

							<li>
								<a href="/admin/viewOffers">Offers </a>
							</li>

							<li>
								<a href="/admin/UserOrders/allOrders">Orders </a>
							</li>
						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m" style="visibility:hidden">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="{{cartCount}}">
							<a href="/cart"><i class="zmdi zmdi-shopping-cart"></i></a>
							
						</div>

						<a href="/wishlist/userWishList" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti">
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="/admin/dashBoard"><img src="/Bootstrap/images/logo.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15" style="visibility:hidden">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="{{cartCount}}">
					<a href="/cart"><i class="zmdi zmdi-shopping-cart"></i></a>
				</div>

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" >
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar" style="visibility:hidden">
						Free shipping for all orders
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Tech Support
						</a>

						
						<a href="#" class="flex-c-m trans-04 p-lr-25">{{#if admin}}
                    {{admin}}
                  {{else}}
                    Account
                  {{/if}}
                </a>
              {{#if admin}}
                  <i class="ti-power-off"></i><a href="/admin/logout" class="flex-c-m trans-04 p-lr-25">LogOut</a>
                {{else}}
                  <i class="ti-power-off"></i><a href="/admin/login" class="flex-c-m trans-04 p-lr-25">Login</a>
                {{/if}}
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="/">Home</a>
					
					
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="/dashboard">Shop</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
				</li>

				<li>
					<a href="blog.html">Blog</a>
				</li>

				<li>
					<a href="about.html">About</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="/Bootstrap/imagesNew/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	
  