 {{>userheader}}
 <style>
    .animsition{
    opacity: 1;
}
 .red-status {
    color: red;
  }

  .blue-status {
    color: blue;
  }
.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .yellow-status {
    color: yellow;
  }

  .green-status {
    color: green;
  }
  .filter-section {
    position: absolute;
    width: 15%;
    top: 39%; /* Adjust this value to vertically center the filter */
    right: 20px; /* Adjust this value to control the distance from the right edge */
    transform: translateY(-50%);
    z-index: 1000;
    background-color: white;
    padding: 10px;
    
    
  }
  .hidden {
  display: none;
}
.filter-dropdown {
  position: absolute;
  top: 40%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1000;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Add any other styling you need */
}

 /* Remove borders from DataTable */
    table.dataTable {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* Optional: If you want to remove the border around each cell */
    table.dataTable td, table.dataTable th {
        border: none;
    }
    table.dataTable td {
    text-transform: capitalize;
     font-size: 20px;
}
#example tfoot {
    display: none;
}
input{
  border:1px solid gray
}
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css"
/>
<script
  src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"
></script>

<div class="container">
<div class="row header" style="text-align:center;color:green">
<h3></h3>
</div>
<div class="table-responsive">
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th class="col-xs-3">Items</th>
    <th class="col-xs-2">Total Price</th>
    <th class="col-xs-2">Discounted Total</th>
    <th class="col-xs-2">Status</th>
    <th class="col-xs-2">Order Date</th>
    <th class="col-xs-1">View Order</th>
        </tr>
    </thead>
    <tbody>
        {{#each userOrders}}
        <tr>
            <td>
                <ul>
                    {{#each this.cartItems}}
                    <li>
                        <img
                            src="/{{this.product.images.[0]}}"
                            alt="{{this.product.productName}}"
                            style="width: 100px;height:100px"
                        />
                        <br />
                        - Quantity: {{this.quantity}}
                        <br />
                        - Price: ${{this.price}}
                    </li>
                    {{/each}}
                </ul>
            </td>
            <td>{{this.totalPrice}}</td>
            <td>{{this.discountedTotal}}</td>
            <td class="{{statusColorClass this.status}} status">{{this.status}}</td>
            <td>{{this.formattedOrderDate}}</td>
            <td><a href="/order/detailedViewOrder/{{this._id}}">View</a></td>
        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th>Items</th>
            <th>Total Price</th>
            <th>Discounted Total</th>
            <th>Status</th>
            <th>Order Date</th>
            <th>View Order</th>
        </tr>
    </tfoot>
</table>
</div>
<script>
  
  $(document).ready(function () {
  var table = $("#example").DataTable({
    responsive: true,
    lengthMenu: [3], // Show only 5 entries
    pageLength: 3,   // Initially display 5 entries per page
  });

  // Hide the footer
  table
    .footer()
    .container()
    .hide();
});

  </script>
   </div>
   
     {{>userfooter}}